<div *ngIf="name==='student'; then studentTable; else facultyTable"></div>

<ng-template #studentTable>
    <table>
        <tr>
            <th>No</th>
            <th>Student Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
        </tr>
        <tr>
            <td>2</td>
            <td>1003</td>
            <td>Rashiff</td>
            <td>md.rashiff@gmail.com</td>
            <td>9876543210</td>
        </tr>
        <tr>
            <td>3</td>
            <td>1004</td>
            <td>Rashiff</td>
            <td>md.rashiff@gmail.com</td>
            <td>9876543210</td>
        </tr>
        <tr>
            <td>4</td>
            <td>1005</td>
            <td>Rashiff</td>
            <td>md.rashiff@gmail.com</td>
            <td>9876543210</td>
        </tr>
    </table>
    <button (click)="addStudent()">Add Student</button>
</ng-template>

<ng-template #facultyTable>
    <table>
        <tr>
            <th>No</th>
            <th>Faculty Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
        </tr>
        <tr>
            <td>2</td>
            <td>1003</td>
            <td>Rashiff</td>
            <td>md.rashiff@gmail.com</td>
            <td>9876543210</td>
        </tr>
        <tr>
            <td>3</td>
            <td>1004</td>
            <td>Rashiff</td>
            <td>md.rashiff@gmail.com</td>
            <td>9876543210</td>
        </tr>
        <tr>
            <td>4</td>
            <td>1005</td>
            <td>Rashiff</td>
            <td>md.rashiff@gmail.com</td>
            <td>9876543210</td>
        </tr>
    </table>
    <button (click)="addFaculty()">Add Faculty</button>
</ng-template>