.container .top{
    display: flex;
    background-color: rgb(224, 224, 253);
    padding-top: 23px;
    padding-bottom: 20px;
    border: 1px solid gainsboro;
}
.container .top nav{
    display: flex;
}
.container .top nav span{
    font-size: 35px;
    margin-left: 30px; 
    margin-right: 800px;
    font-weight: bolder;
    color: blueviolet;
}
.container .top nav .links a{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: blueviolet;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
}
.container .top nav .links a:hover{
    cursor: pointer;
    outline: 1px solid gray;
}
