<div class="container">
    <div class="top">
        <nav>
            <span>Dashboard</span>
            <div class="links">
                <a href="/">Home</a>
            </div> 
        </nav>
    </div>

</div>
