body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
   border-radius: 8px;
   width: 400px;
}
.container .form h1{
   color: rgb(141, 141, 245);
   font-weight: bold;
   text-align: center;
   font-family: sans-serif;
   font-size: 30px;
   margin-top: 25px;
   border-bottom: 2px solid rgb(240, 235, 235);
   padding-bottom: 20px;
}
.container .form input[type=email]{ 
    background-color: rgb(240, 235, 235);
    border: none;
    border-radius: 4px;
    padding: 12px;
    color: black;
    box-sizing: border-box;     
    width: 80%;
    margin-top: 20px;
    margin-left: 10%;
    margin-bottom: 18px;
    font-size: 15px;
}
.container .form input[type=password]{ 
    background-color: rgb(240, 235, 235);
    border: none;
    border-radius: 4px;
    padding: 12px;
    color: black;
    box-sizing: border-box;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
    font-size: 15px;
}
.container .form input:hover{
    outline: 1px solid gray;
}
.container .form a{
    display: inline-block;
    margin-left: 10%;
    text-decoration: none;
    padding-left: 15px;
}
.container .form a:hover{
    text-decoration: underline;
    cursor: pointer;
}
.container .form button{
    border-radius: 4px;
    padding: 12px;
    background-color: #8d8df5;
    color: white;
    width: 80%;
    margin-left: 10%;
    margin-bottom: 20px;
    margin-top: 15px;
    font-size: 18px;
    font-weight: bold;
}
.container .form button:hover{
    cursor: pointer;
    outline: 2px solid ;
}
.container .signup{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
}
.container .signup span{
    font-size: 17px;
    padding-right: 10px;
}
.container .signup a{
    font-size: 17px;
    text-decoration: none;
    padding-left: 10px;
}
.container .signup a:hover{
    text-decoration: underline;
    cursor: pointer;
    overflow: hidden;
}
