<div class="container">
    <div class="form">
        <form [formGroup]="studentLoginForm" (ngSubmit)="onSubmit()">
            <h1>Student Login</h1>
            <input type="email" placeholder=" Email Id" formControlName="email">
            <input type="password" placeholder=" Password" formControlName="password">
            <a href="">Forget Password?</a>
            <button type="submit" [disabled]="!studentLoginForm.valid">Login</button>
        </form>
    </div>
    <div class="signup">
        <span> Not a member?</span>
        <a (click)="studentRegister()">Signup</a>
    </div>
</div>

