body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 8px;
  width: 50%;
}
.container .regForm h1 {
  color: rgb(141, 141, 245);
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  margin-top: 20px;
  border-bottom: 2px solid rgb(240, 235, 235);
  padding-bottom: 10px;
}
form .fullName input[type="text"] {
  display: inline-block;
  width: 40%;
  background-color: rgb(240, 235, 235);
  border: none;
  border-radius: 4px;
  padding: 10px;
  color: black;
  box-sizing: border-box;
  font-size: 13px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 10px;
}
form input:hover{
    outline: 1px solid gray;
}
form input[type="email"],
input[type="text"],
input[type="password"]
 {
    background-color: rgb(240, 235, 235);
    border: none;
    border-radius: 4px;
    padding: 10px;
    color: black;
    box-sizing: border-box;
    width: 90%;
    margin-left: 5%;
    margin-top: 23px;
    font-size: 13px;
}
form button{
    background-color: #8d8df5;
    border: none;
    border-radius: 4px;
    padding: 12px;
    color: white;
    box-sizing: border-box;
    width: 90%;
    margin-left: 5%;
    margin-top: 23px;
    font-size: 16px;
    font-weight: bold;
}
form button:hover{
    cursor: pointer;
    outline: 2px solid ;
}
.container .signIn{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 10px;
}
.container .signIn span{
    font-size: 15px;
    padding-right: 10px;
}
.container .signIn a{
    font-size: 15px;
    text-decoration: none;
    padding-left: 10px;
}
.container .signIn a:hover{
    text-decoration: underline;
    cursor: pointer;
    overflow: hidden;
}
