<div class="container">
    <div class="regForm">
        <form [formGroup]="adminRegisterForm" (ngSubmit)="onSubmit()">
            <h1>Register</h1>
            <div class="fullName">
                <input type="text" formControlName="fName" placeholder="First Name">
                <input type="text" formControlName="LName" placeholder="Last Name">
            </div>
            <input type="email" formControlName="email" placeholder="Email">
            <input type="text" formControlName="adminId" placeholder="Admin Id">
            <input type="text" formControlName="mobile" placeholder="Mobile">
            <input type="password" formControlName="password" placeholder="Password">
            <input type="password" formControlName="confirmPassword" placeholder="Confirm password">
            <button type="submit" [disabled]="!adminRegisterForm.valid">Register Now</button>
        </form>  
    </div>
    <div class="signIn">
        <span> Already have an Account?</span>
        <a href="#">Sign in</a>
    </div>
</div>
