<div class="container">
    <div class="form">
        <form [formGroup]="adminLoginForm" (ngSubmit)="onSubmit()">
            <h1>Admin Login</h1>
            <input type="email" placeholder=" Email Id" formControlName="email">
            <input type="password" placeholder=" Password" formControlName="password">
            <a href="#">Forget Password?</a>
            <button type="submit" [disabled]="!adminLoginForm.valid">Login</button>
        </form>
    </div>
    <div class="signup">
        <span> Not a member?</span>
        <a href="#">Signup</a>
    </div>
</div>

