<div class="container">
    <div class="regForm">
        <form [formGroup]="studentRegisterForm" (ngSubmit)="onSubmit()">
            <h1>Student Register</h1>
            <div class="fullName">
                <input type="text" formControlName="fName" placeholder="First Name">
                <input type="text" formControlName="LName" placeholder="Last Name">
            </div>
            <input type="email" formControlName="email" placeholder="Email">
            <input type="text" formControlName="studentId" placeholder="Student Id">
            <input type="text" formControlName="mobile" placeholder="Mobile">
            <input type="password" formControlName="password" placeholder="Password">
            <input type="password" formControlName="confirmPassword" placeholder="Confirm password">
            <button type="submit" [disabled]="!studentRegisterForm.valid">Register Now</button>
        </form>  
    </div>
    <div class="signIn">
        <span> Already have an Account?</span>
        <a (click)="loginPage()">Sign in</a>
    </div>
</div>

