body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container .top{
    display: flex;
    background-color: rgb(224, 224, 253);
    padding-top: 23px;
    padding-bottom: 20px;
    border: 1px solid gainsboro;
}
.container .top nav{
    display: flex;
}
.container .top nav span{
    font-size: 35px;
    margin-left: 30px; 
    margin-right: 800px;
    font-weight: bolder;
    color: blueviolet;
}
.container .top nav .links a{
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    color: white;
    background-color: blueviolet;
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
}
.container .top nav .links a:hover{
    cursor: pointer;
    outline: 1px solid gray;
}
.container .body{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.container .body .card1{
    background-color: whitesmoke;
    padding: 40px;
    margin-top: 100px;
    border-radius: 10px;
    background-color: rgb(252, 252, 252);
}
.container .body .card1:hover{
    cursor: pointer;
    outline: 2px solid blueviolet;
}
.container .body .card1 h1{
    font-weight: bolder;
    font-size: 50px;
    color: blueviolet;
}
.container .body .card1 span{
    font-size: larger;
    color: rgb(186, 124, 245);
    font-weight: bold;
}
.container .body .card2{
    background-color: whitesmoke;
    padding: 50px;
    margin-top: 100px;
    border-radius: 10px;
}
.container .body .card2:hover{
    cursor: pointer;
    outline: 2px solid blueviolet;
}
.container .body .card2 h1{
    font-weight: bolder;
    font-size: 50px;
    color: blueviolet;
}
.container .body .card2 span{
    font-size: larger;
    color: rgb(186, 124, 245);
    font-weight: bold;
}
