<div class="container">
    <div class="top">
        <nav>
            <span>Dashboard</span>
            <div class="links">
                <a href="#">Home</a>
            </div> 
        </nav>
    </div>
    <div class="body">
        <div class="card1" (click)="getStudentList()">
            <h1>100</h1>
            <span>Students</span>
        </div>
        <div class="card2" (click)="getFacultyList()">
            <h1>20</h1>
            <span>Faculties</span>
        </div>
    </div>
</div>
